:root {
  --primaryColor: #2e7d84;
  --secondaryColor: white;
  --thirdColor: #ff1493;
  --forthColor: rgb(65, 175, 185);
  --fifthColor: darkgrey;
  --sixthColor: #24b2df;
  --seventhColor: #23a6db;
  --eigthColor: #d3d3d3;
  --ninthColor: #c5c5c5;
  --tenthColor: #e5e5e5;
  --eleventhColor: #1b8ebc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primaryColor);
}
.navbar {
  height: 3rem;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-content: center;
  border-bottom: 2px solid var(--sixthColor);
  border-left: 2px solid var(--sixthColor);
  width: 100%;
}
#themeBtn {
  border-right: 2px solid var(--sixthColor);
}
#burgerBtn {
  display: none;
  background-color: #0700008c;
}
#burgerContent {
  display: flex;
  width: 100%;
}
#burgerContent button {
  height: 100%;
  background-color: black;
}

.navbar button,
.switcherDiv {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s transform 0.3s;
}
.switcherDiv {
  position: relative;
  display: inline-block;
}
.switcherDiv:hover,
.navbar button:hover {
  background: rgb(50, 50, 50);
}
/* Show the dropdown menu on hover */
.switcherDiv:hover .switcherContentL,
.switcherDiv:hover .switcherContentT {
  display: block;
  background: rgb(0, 0, 0);
}

.themeContentBtn,
.languageContentBtn {
  padding: 0.5rem 0;
}
.switcherContentT,
.switcherContentL {
  display: none;
  border-bottom: 2px solid var(--sixthColor);
  border-left: 2px solid var(--sixthColor);
  border-right: 2px solid var(--sixthColor);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(5, 5, 5);
}
input,
select,
option {
  color: black;
}
.allDiv {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#matrixCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
#imgDiv {
  display: flex;
  align-items: end;
}
#logo {
  width: 300px;
}
#logoFooter {
  display: none;
}
#header {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  width: 80%;
  box-sizing: border-box;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.highlight {
  font-style: italic;
  font-weight: bold;
  margin: 0 0.3rem;
}
.headings {
  width: 80%;
  background-color: rgb(0, 0, 0, 0.5);
}
.headings p {
  margin-left: 0.5rem;
  line-height: 1.2;
}
.headings h4 {
  color: var(--secondaryColor);
  margin-bottom: 1rem;
}
.headings h3 {
  margin: 2rem 0.5rem;
  font-size: 1.4rem;
}
.headings p {
  margin-bottom: 1rem;
}
.headings h2 {
  color: var(--secondaryColor);
  margin-bottom: 1rem;
}
#headerText {
  overflow: hidden;
  text-overflow: ellipsis;
}
#headerText p {
  background-color: black;
  line-height: 1.5rem;
}
#headerText h1 {
  margin: 1rem;
  color: var(--secondaryColor);
}
#headerText p::first-letter {
  font-size: 3rem;
  font-weight: bold;
  float: left;
  line-height: 1;
  margin-right: 0.1em;
  color: var(--secondaryColor);
}
.input {
  background: rgba(255, 255, 255, 0.925);
}
#logoAnimated {
  width: 10rem;
  height: 10rem;
  margin-right: 3rem;
}
#stopBrute button {
  padding: 0.5rem;
  width: 4rem;
}
#startPwGenDiv select {
  margin: 1rem;
  width: 2.5rem;
}
#stopBrute:hover {
  background-color: #d3371f;
}
#stopBrute:active {
  background-color: #ad2e1a;
  transition: 0.05s;
}
.mainMiddle,
.mainBottom,
.mainTop {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 3rem;
}
.mainMiddle {
  margin-top: 2rem;
}
.mainTop {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mainBottom {
  margin-bottom: 5rem;
}
.startBtn {
  background-color: rgb(65, 175, 185);
  color: var(--secondaryColor);
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s transform 0.3s;
  width: 7rem;
  height: 2.5rem;
}
#userGeneratorBtn {
  margin-top: 1.7rem;
  align-self: center;
}
#generatedPassword {
  margin-top: 2rem;
}
.copyButton {
  position: relative;
  background-color: transparent;
  border: hidden;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  margin-left: 0.5rem;
}
.confirmBubble {
  position: absolute;
  top: -0.1rem;
  left: 1.5rem;
  background-color: #1f1a1a;
  padding: 0.2rem;
  border-radius: 0.5rem;
  display: none;
}
.copyButton:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}
.copyButton img {
  height: 1rem;
  width: 1rem;
}
.startBtn:hover {
  background-color: var(--primaryColor);
}
#stopBrute {
  background-color: red;
}
.startBtn:active {
  background-color: #25646a;
  transition: 0.05s;
}
#converterDiv {
  padding-bottom: 50px;
}

.appBox {
  box-shadow: 0px 0px 10px 1px #40aeb8;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  background: rgb(0, 0, 0, 0.5);
}
h3 {
  color: rgb(217, 217, 217);
}
.label {
  background-color: #40aeb8;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.label:hover {
  cursor: pointer;
}
.label label:hover {
  cursor: pointer;
}
#uploadLabel {
  color: var(--secondaryColor);
}
table {
  border: 1px solid #ffffff;
}
th {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  padding: 0.5rem;
}
#lastTh {
  border-right: none;
}
.loading {
  border-width: 0.2rem;
}
td {
  width: 6rem;
  text-align: center;
  padding: 0.5rem;
  border-right: 1px solid white;
}
#statOutput :last-child {
  border-right: none;
}
#statOutput {
  height: 2.5rem;
}

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bruteBtns {
  display: flex;
  gap: 2rem;
  justify-content: left;
  align-items: center;
}
.bruteInput {
  display: flex;
  gap: 2rem;
}
.wizardInput {
  display: flex;
  gap: 1rem;
}
#wizardInput2,
#wizardInput3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wizardLength {
  display: flex;
  gap: 4.5rem;
  align-items: center;
}
.qwertz {
  display: flex;
  gap: 0.5rem;
  margin-left: 1.5rem;
}
#newUser,
#generatedPasswordDiv {
  width: fit-content;
}
#user-output {
  text-align: left;
  width: 17rem;
}
#user-output p:first-of-type,
#generatedPassword p:first-of-type {
  margin-bottom: 1rem;
}
#converterSelector,
.pictureMagicDiv {
  display: flex;
  gap: 1rem;
}
.flexbox-item1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.flexbox-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
input,
select {
  width: 10rem;
  height: 2rem;
}

@media (max-width: 500px) {
  .bruteInput,
  .wizardInput,
  .wizardLength,
  .flexbox-item2 {
    flex-direction: column;
  }
  .wizardLength {
    gap: 1rem;
  }
  .flexbox-item2 {
    align-items: center;
  }
  .appBox {
    width: 80%;
  }
  #headerText {
    width: 100%;
  }
  #header {
    gap: 0rem;
  }
}

@media (max-width: 1030px) {
  .flexbox-item2 {
    flex-direction: column;
  }
  #converterSelector {
    justify-content: center;
    align-items: center;
  }
  .wizardInput {
    flex-direction: column;
  }
  #headerText {
    width: 100%;
  }
  #header {
    gap: 0rem;
  }
}

@media (max-width: 800px) {
  #logo {
    display: none;
  }
  #logoFooter {
    display: block;
  }
  footer {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .mainMiddle,
  .mainTop,
  .mainBottom,
  #startPwGenDiv,
  .pictureMagicDiv,
  .flexbox-item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #bruteForceApp {
    display: flex;
    flex-direction: column;
  }
  #header h1 {
    text-align: center;
  }
  #headerText {
    width: 100%;
  }
  #header {
    gap: 0rem;
  }
  .appBox {
    width: 100%;
  }
}
#strengthBarDiv {
  display: flex;
  gap: 1rem;
  visibility: hidden;

  width: 100%;
}
#strengthBar {
  height: 1rem;
  width: 100%;
  display: flex;

  align-items: center;
}
.strengthBarFill {
  border-top: 1px solid var(--fifthColor);
  border-bottom: 1px solid var(--fifthColor);
  height: 1rem;
  width: 20%;
  border-left: 1px solid var(--fifthColor);
}
.strengthBarFill:last-child {
  border-right: 1px solid var(--fifthColor);
}

.strengthBar span {
  font-size: 0.8rem;
  color: black;
  white-space: nowrap;
  margin: 0 1rem;
}
@media (max-width: 500px) {
  #logoFooter {
    width: 300px;
  }

  .navbar {
    border-right: 2px solid var(--sixthColor);
    background-color: #0700008c;
  }
  .switcherDiv {
    width: 100%;
    position: relative;
  }
  .switcherContentL {
    position: absolute;
    left: 6.89rem;
    z-index: 1;
    top: -1.9rem;
    background-color: #0c0b0b2d;
    width: 6rem;
    border-top: 2px solid var(--sixthColor);
    border-left: none;
  }
  .switcherContentL::after {
    content: "";
    position: absolute;
    bottom: 2.8rem;
    transform: rotate(90deg);
    left: -3rem;
    width: 95px;
    height: 2px;
    background-color: var(--sixthColor);
  }
  .switcherContentL button {
    margin: 0.3rem 0;
  }
  .switcherContentL:hover {
    display: flex;
  }
  .switcherContentT {
    position: absolute;
    left: 6.89rem;
    top: -4.1rem;
    z-index: 1;
    width: 5.9rem;
    border-top: 2px solid var(--sixthColor);
    border-left: none;
    border-right: 2px solid var(--sixthColor);
  }

  .switcherContentT::after {
    content: "";
    position: absolute;
    bottom: 1.45rem;
    transform: rotate(90deg);
    left: -1.6rem;
    width: 51px;
    height: 2px;
    background-color: var(--sixthColor);
  }

  .switcherContentT button {
    margin: 0.3rem 0;
  }

  #burgerBtn {
    display: flex;
    padding: 0.8rem 1rem;
    background-color: #02020227;
    width: 6rem;
  }

  #burgerContent {
    position: absolute;
    left: -2px;
    top: 2.8rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7rem;
    background-color: #000000fe;
    border-bottom: 2px solid var(--sixthColor);
    border-left: 2px solid var(--sixthColor);
  }

  #burgerContent::after {
    content: "";
    position: absolute;
    bottom: 5.85rem;
    left: 1.01rem;
    width: 173%;
    height: 2px;
    background-color: var(--sixthColor);
    transform: rotate(90deg);
  }

  #burgerContent.active {
    display: flex;
    gap: 1rem;
  }
  #burgerContent button {
    background-color: #00000067;
    width: 100%;
    border: none;
  }
}
#bruteSimpleDescription,
#bruteLibraryDescription {
  color: #23a6db;
  position: relative;
}
#bruteSimpleDescription:hover,
#bruteLibraryDescription:hover {
  cursor: pointer;
}
#bruteSimpleDescription::after,
#bruteLibraryDescription::after {
  content: attr(data-tooltip);
  position: absolute;
  display: none;
  top: -12rem;
  left: 4rem;
  width: 15rem;
  background-color: black;
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 1rem;
}
.fadeIn {
  display: block;
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    display: block;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.chaos,
#chaos {
  font-weight: bold;
  background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff0000);
  background-size: 200% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shimmer 3s infinite linear;
}
@keyframes wabber {
  0% {
    transform: translateX(-5px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}

.wabbling-text {
  animation: wabber 1.5s infinite cubic-bezier(0.25, 0.1, 0.25, 1);
}

.scale {
  animation: scaleImage 3s infinite;
}

@keyframes scaleImage {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
